body {
	font-family: Arial;
	font-size: 13px;
	background: #000 url('../images/background.jpg') no-repeat fixed bottom;
	background-size: 100%;
	color: #fff;
}

.army {
	margin: 30px 0px;
}

table {
	background: url('../images/table-bg.png');
}